/* header */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}


/* $green:#219150;
$black:#10221b;
$white:#fff;
$light-bg:#eee;
$border:.2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1); */



@mixin grid($val)
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar{
        width:1rem;
    }
}


    &::-webkit-scrollbar-track{
        background: white;
    }


    &::-webkit-scrollbar-thumb{
      background: black;
    }

    section{
        padding: 5rem 9%;
    }

    .btn{
        margin-top: 1rem;
display: inline-flex;
        border: 2px solid white;
        border-radius: 2rem;
        color: white;
        cursor: pointer;
        background: none;
        font-size: 1.7rem;
        padding: 1rem 5rem;
        margin-left: 15px;
       

    }

    .btn:hover{
        background: yellow;
        color: black;
    }


    .header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 1em 9%;
        z-index: 1000;
        display: flex;
        align-items: center;
        /* top: 10px; */
        background: rgba(0, 0, 0, 1);
    }

    .logo{
        margin-right: auto;
        font-size: 4rem;
        color: yellow;
        font-weight: bolder;

    i{
color: green;
    }
}


.navbar a{
    margin: 3.5px;
    margin-left: 2rem;
    font-size: 1.5rem;
    letter-spacing: .1em;
    color: white;
    

    
}

.navbar a:hover{
    
    background-color: yellow;
    color: black;
    transition: 0.1s ease;
    border: 1px solid black;
    border-radius: 1em;
}



.icons div{
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    color: white;
}

#search-btn:hover{
    color: yellow;
    transition: 0.1s ease;
}











/* signup */

  
body {
  color: grey;
  font-family: 'Lato';
  text-align: center;
  background: #66cc99;
  
  margin-top: 100px;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-container {
  text-align: left;
  background: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

label {
  color:  #66cc99;
  text-transform: uppercase;
}

input {
  background: transparent;
  font-size: 14px;
  display: block;
  padding: 10px 30px 10px 5px;
  margin: 10px 0 40px;
  border: 2px solid white;
  border-bottom: 2px solid grey;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #66cc99;;
}

.radio-question input {
  margin: 10px;
  padding: 0;
}

.radio-input {
  display: inline;
}

.button {
  background: #66cc99;
  border: 0;
  padding: 15px 30px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.button:hover {
  background: #5ec190;
}
.password-rules {
  font-size: 10px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.error-message {
  color: red;
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 12px;
}

#signup{
  margin-left: 140px;
}





















  /* footer */

  
.footer{
    
    padding: 3rem;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
}

.icon{
    color: white;
    margin-left: 15px;

}

.fa-brands{
    margin-left: 5px;
    font-size: 25px;
    
}